<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title></title>

    <link rel="stylesheet" href="http://tiku.kgc.cn/resources/V11.8.0.2/css/ytk_css.css">
    <link rel="stylesheet" type="text/css" href="http://tiku.kgc.cn/resources/V11.8.0.2/css/classranking.css">
    <link rel="stylesheet" type="text/css" href="http://tiku.kgc.cn/resources/V11.8.0.2/css/yui3/grid.css">
    <link rel="stylesheet" type="text/css" href="http://tiku.kgc.cn/resources/V11.8.0.2/css/themes.css">
    <link rel="stylesheet" type="text/css" href="http://tiku.kgc.cn/resources/V11.8.0.2/css/style.css">
    <link rel="stylesheet" type="text/css" href="http://tiku.kgc.cn/resources/V11.8.0.2/css/feedBack.css">
    <link rel="icon" type="image/x-icon" href="http://tiku.kgc.cn/testing/favicon.ico">
    <link type="text/css" rel="stylesheet" href="http://tiku.kgc.cn/resources/V11.8.0.2/js/laydate/need/laydate.css">
    <link type="text/css" rel="stylesheet" href="http://tiku.kgc.cn/resources/V11.8.0.2/js/laydate/skins/default/laydate.css" id="LayDateSkin"></head>

<!-- Bootstrap Core CSS -->
    <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../layui/layui.js"></script>
    <link rel="stylesheet" href="../layui/css/layui.css" type="text/css"></link>
    <script type="text/javascript" src="../js/jquery-2.1.1.js"></script>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index2.html">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/users/1.jpg" alt="user" class="profile-pic m-r-5" />Markarn Doe</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a href="../index2.html" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>对题库进行管理</a>
                        </li>
                        <li>
                            <a href="../pages-profile.html" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>对学生进行管理</a>
                        </li>
                        <li>
                            <a href="../table-basic.html" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>随机选题出试卷</a>
                        </li>
                        <li>
                            <a href="/writeall/list2" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>查看学生的考试分数</a>
                        </li>
                        <li>
                            <a href="../map-google.html" class="waves-effect"><i class="fa fa-globe m-r-10" aria-hidden="true"></i>将成绩发送给家长</a>
                        </li>
                        <li>
                            <a href="../pages-blank.html" class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>查看历史试卷</a>
                        </li>

                    </ul>
                    <div class="text-center m-t-30">
                        <a href="#" class="btn btn-danger">Download Here</a>
                    </div>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div id="basicTop" style="margin-top:0px;"></div>
                <div>
                    <div class="classranking_box">
                        <!--分类测评-->
                        <div class="wrapper">

                            <h3 class="test_title divide_type">本日答题</h3>
                            <div id="dayTest-box">
                                <div class="dayTest-list test-over" id="normalDiv" style="display:none;">
                                    <div class="test-overList test-overItem1">
                                        <span class="test-overImg"></span>累计答题数：<span class="test-overNum" id="questionCount">0</span>
                                    </div>
                                    <div class="test-overList test-overItem2" if="${num==1}">
                                        <span class="test-overImg"></span>答题数：<span class="test-overNum" id="actualQuestionCount" text="${sum}"></span>
                                    </div>
                                    <div class="test-overList test-overItem3">
                                        <span class="test-overImg"></span>正确率：<span class="test-overNum" id="correctRate">0</span>
                                    </div>
                                </div>
                                <div class="dayTest-list test-nocount" id="nocountDiv" style="display:block" if="${num==0}">
                                    <span class="test-nocountImg"></span>今天还没有做题哟~加油！
                                </div>

                                <div class="dayTest-list test-failure" id="failureDiv" style="display:none;">
                                    获取数据失败，请刷新重新尝试！<span class="test-failureImg"></span>
                                </div>
                                <div class="dayTest-list test-failure" id="failureDivLoading" style="display:none;">
                                    数据加载中，请稍后......
                                </div>
                            </div>

                            <div class="test_box" style="height: 100px">
                                <h3 class="test_title divide_type">测试与统计</h3>
                                <div class="test_list_box">
                                    <!--         	 0.课程复习数量，1，模拟真题型数量，2，专项技能型数量 -->
                                    <div class="test_list item1">
                                        <span class="test_list_img skill_test_img"></span>
                                        <span class="test_list_name">自测题库<img src="http://tiku.kgc.cn/resources/V11.8.0.2/images/pc.png" title="可以选取试卷进行评测"></span>
                                        <!--                        <span class="test_list_order">完成25道题</span>-->
                                        <span class="test_list_go">
							 <a id="a_skill" class="courseexam goto_test" href="#">进入</a>
							 </span>
                                    </div>
                                    <!--         	 0.课程复习数量，1，模拟真题型数量，2，专项技能型数量 -->
                                    <div class="test_list item2">
                                        <span class="test_list_img class_test_img"></span>
                                        <span class="test_list_name">历史题库<img src="http://tiku.kgc.cn/resources/V11.8.0.2/images/pc.png" title="历史题库"></span>
                                        <!--                        <span class="test_list_order">完成40道题</span>-->
                                        <span class="test_list_go">

							 <a class="courseexam goto_test" href="/writeall/list">进入</a>
						     </span>
                                    </div>
                                    <!--         	 0.课程复习数量，1，模拟真题型数量，2，专项技能型数量 -->
                                    <div class="test_list item3">
                                        <span class="test_list_img imitate_test_img"></span>
                                        <span class="test_list_name">统计<img src="http://tiku.kgc.cn/resources/V11.8.0.2/images/pc.png" title="统计"></span>
                                        <!--                        <span class="test_list_order">完成6485道题</span>-->
                                        <span class="test_list_go">
							 <a id="testDialogData" class="goto_test" href="#">进入</a>
                        </span>
                                    </div>
                                </div>

                            </div>
                            <div id="computerDiv" style="width:950px;margin-bottom:20px;">
                                <iframe frameborder="0" scrolling="no" id="computerFrame" width="100%" name="computerFrame" src="cid:frame-9EB1AA80CFD9444E5B31D162144189AA@mhtml.blink" style="border-style:none;" height="330"></iframe>
                            </div>

                            <div class="problem_record">
                                <h3 class="record_title divide_type">做题数量分析</h3>
                                <div class="data_sheet_box">
                                    <h3 class="data_sheet_title">您最近七天做题<span text="${sum1}"></span>道，完成题目数量具体时间分布如下：</h3>
                                    <!--数据表站位-->
                                    <div class="data_sheet_content">
                                        <iframe id="iframeMain" src="../statistics/showBar_Simple" width="100%" height="100%">
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="../assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="../js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript -->
    <script src="../assets/plugins/flot/jquery.flot.js"></script>
    <script src="../assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="../js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="../assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
</body>

</html>
